ul {
  list-style-type: none;
  margin-bottom: 13%;
  overflow: hidden;
}

li {
  float: right;
  font-family: Lato;
  color: #ffffff;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
