h1,
h2,
p {
  font-family: Lato;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box p,
.box h1,
.box h2 {
  width: 100%;
  height: 100%;
}
